@import url("../../global.css");

.btn-primary-solid {
    background-color: var(--primary-title-color);
}

.nav-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    position: sticky;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

.line-height-extra {
    letter-spacing: 0.4rem;
}

.btn-icon-singular {
    margin-left: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    /* transform: translate(-50%, -50%); */
    padding: 0.6rem;
    width: 30vw;
    border-radius: 1rem;
    gap: 0.3rem;

}

.search-box .search-txt {
    outline: none;
    border: none;
    width: 100vw;
    padding: 0.2rem;
}

.search-box,
.search-txt {
    background-color: var(--primary-color-light);
}

.line-height-extra {
    color: var(--primary-color-dark)
}

.btn-com {
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    font-size: 1.3rem;
}

.search-box-mob {
    display: none;
}

@media screen and (max-width:500px) {
    .search-box {
        display: none;
    }

    .search-box-mob {
        display: flex;
        width: 90vw;
    }


    .line-height-extra{
        line-height: 0;
        letter-spacing: 0;
    }
}