.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 4.87rem;
    padding: 6px 14px;
    z-index: 5;
    transition: all 0.5s ease;
    margin-top: 5rem;
    top: 0;
}

.sidebar.open {
    width: 15.62rem;
}

.sidebar .logo-details {
    height: 3.75rem;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 2rem;
    transition: all 0.4s ease;
    font-size: 1.43rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    color: var(--black-color);
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: var(--white-color);
    height: 3.75rem;
    min-width: 3.12rem;
    font-size: 1.75rem;
    text-align: center;
    line-height: 3.75rem;
}

.sidebar .nav-list {
    margin-top: 1.25rem;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -1.25rem;
    left: calc(100% + 15px);
    background: var(--white-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    color: var(--black-color);
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li>span {
    display: flex;
    height: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar li>span:hover {
    background: var(--hover-login);

}

.sidebar ul li>span .links_name {
    font-size: 1.1rem;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open ul li>span .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul>span:hover .links_name,
.sidebar li span:hover i {
    transition: all 0.5s ease;
    color: var(--black-color);
}

.sidebar li i {
    height: 3.12rem;
    line-height: 3.12rem;
    font-size: 1.12rem;
    border-radius: 0.75rem;
    color: var(--black-color);
}

.sidebar li.profile {
    position: fixed;
    height: 3.75rem;
    width: 4.87rem;
    left: 0;
    bottom: -20px;
    padding: 10px 14px;
    background: var(--black-color);
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 2.81rem;
    width: 2.81rem;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: var(--white-color);
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: var(--black-color);
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 3.12rem;
    background: none;
}

.home-section {
    position: relative;
    min-height: 100vh;
    left: 4.87rem;
    width: calc(100% - 4.87rem);
    transition: all 0.5s ease;
}

.sidebar.open~.home-section {
    left: 12.5rem;
    width: calc(100% - 12.5rem);
}

.home-section .text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0rem 2rem;

}

.logo-details i {
    color: var(--black-color);
    font-size: 1.6rem;
}

.active-navbar {
    background-color: var(--hover-login);
    border-radius: 0.7rem;
}

@media screen and (max-width: 700px) {
    .home-section .text {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 400px) {
    .home-section .text {
        margin: 0rem 2rem;
    }

    .home-section {
        left: 1rem;
        bottom: 1rem;
    }
}